.main-page {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 1%;
  font-family: Bagoss;
  font-weight: 400;
  text-wrap: pretty;
  text-align: center;
}

.title > span {
  display: inline-block;
}

.gradient-text {
  background: -webkit-linear-gradient(
    0deg,
    var(--color-pink) 0%,
    var(--color-primary) 90%,
    var(--color-active) 140%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
