:root {
  --color-primary: #b488f2;
  --color-white: #ffffff;
  --color-dark: #0c0d10;
  --color-text-white: #fafafa;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-white);
  background: var(--color-dark);
  font-family: Sohne, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at top, #222737, #0c0d10 80%);
  min-height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* ------ CUSTOM CLASSES ------ */
.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  /* Only set default x padding because different y padding */
  padding-left: 20px;
  padding-right: 20px;
}
